* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbeaab;
  height: 100%;
  padding: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-bottom: 1.5rem;
}

header img {
  width: 100%;
  max-width: 20rem;
}

nav {
  background-color: #1c1c1c;
  margin-inline: -1.5rem;
  margin-bottom: 1rem;
  padding-block: 0.5rem;
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  column-gap: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  background-color: #fff;
  color: #000;
  padding-inline: 0.5rem;
  margin-block: -0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav img {
  height: 22px;
  filter: invert(99%) sepia(5%) saturate(116%) hue-rotate(310deg) brightness(121%) contrast(100%);
}

main.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

main.cards a.card {
  background-color: #f3f3f3;
  text-align: center;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  text-decoration: none;
}

main.cards a.card:hover {
  filter: brightness(95%);
}

main.cards a.card p {
  padding-inline: 1rem;
  color: #1c1c1c;
}

main.cards a.card p+p {
  margin-top: 1rem;
}

main.cards a.card p.description {
  font-weight: 500;
}

main.cards a.card p.price {
  color: mediumseagreen;
  font-weight: 800;
}

main.cards a.card img {
  width: 100%;
  border-radius: 0.5rem;
}

main.product {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 1rem;
}

main.product h1 {
  color: #454545;
}

main.product img {
  margin-inline: auto;
  width: 100%;
}

main.product p {
  font-weight: 800;
  font-size: 2rem;
  color: mediumseagreen;
}

main.product button {
  text-transform: uppercase;
  width: 100%;
  height: 3rem;
  border: none;
  background-color: #454545;
  border-radius: 0.5rem;
  color: #fbeaab;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Open Sans';
}

main.product p + button {
  margin-top: 1rem;
}

@media (min-width: 820px) {
  nav {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
  }

  nav a {
    font-size: 1.5rem;
  }

  nav a.active {
    width: unset;
  }

  nav img {
    height: 1.5rem;
  }

  main.cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  main.cards {
    grid-template-columns: repeat(4, 1fr);
  }
}