* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbeaab;
  height: 100%;
  padding: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

header {
  margin-bottom: 1.5rem;
}

header img {
  width: 100%;
}

nav {
  background-color: #1c1c1c;
  margin-inline: -1.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  display: flex;
  column-gap: 0.5rem;
}

nav a:hover {
  text-decoration: underline;
}


nav img {
  height: 22px;
  filter: invert(99%) sepia(5%) saturate(116%) hue-rotate(310deg) brightness(121%) contrast(100%);
}

main.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

main.cards div.card {
  text-align: center;
  box-shadow: 1px 1px 7px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

main.cards div.card:hover {
  filter: brightness(95%);
}

main.cards div.card p {
  padding-inline: 1rem;
}

main.cards div.card p+p {
  margin-top: 1rem;
}

main.cards div.card p.description {
  font-weight: 500;
}

main.cards div.card p.price {
  color: mediumseagreen;
  font-weight: 800;
}

main.cards div.card img {
  width: 100%;
  border-radius: 0.5rem;
}